

.container {
  display: grid;
  height: calc(100vh - 4em);
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 50% 50%;
/*  align-items: center;*/
/*  align-content: stretch;  */
  background: white;
  margin: 2em;
  padding: 0em;
}

.item-a {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  padding:2em;
}

.item-b {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
  padding: 2em;
}

.item-c {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: center;
  padding: 2em;
}

.item-d {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
  padding: 2em;
}


body {
    display: flex;
    flex-direction: column;
    
font-family: 'Playfair Display', serif;
    background-color: #EDf5E1;
    line-height: 1.5em;
}

h1.main {
    font-size: 5em;
    line-height: 1em;
    text-align:center;
/*
    line-height: 1em;
  padding-left: 1em;
  background-size: auto 100%;
  background-repeat: no-repeat;
background-image:url(blackgoose.svg);
*/
}

.playful {
  color: #000;
  text-shadow: 1px 1px #D79922, 2px 2px #D79922;
}

.mainimg {
    max-width: 60%;
}

h2 {
    color: #000;
    font-size: 1.25em;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}

p {
    color: #000;
    margin: 2em;
}

.stripe-1 {
  color: white;
  background: repeating-linear-gradient(
    90deg,
    #002D62,
    #002D62 40px,
    #72A0C1 40px,
    #72A0C1 80px
  );
}

/*
.stripe-1::after { 
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  content:" ";
  background: 
  radial-gradient(circle at 50% 0%, #E26464 25%, #C4DCD1 26%, #C4DCD1 40%);
  background-color: #E26464;
  background-size:80px 160px;
  height:50px;
  background-repeat: repeat-x;
}*/
